.location-accounts {
  .btn {
    cursor: pointer;
    border-radius: 2px;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  .btn:focus {
    outline: none;
  }
  .ui.primary.button {
    margin-left: 0.75rem;
  }

  .btn-disconnect {
    background: #b82525;
    padding: 6px 10px;
  }

  .btn-connect {
    background: #2185d0;
    padding: 8px 13px;
  }

  .accounts-wrapper {
    padding: 26px 0 26px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
  }

  .firstColumnCell {
    padding-left: 20px !important;
  }

  th{
    color: #000000 !important;
    font-weight: bold !important;
  }
}

.formDropdown {
  display: flex;
  flex-direction: column;
}

.formActions {
	margin: 20px 0px;
	float: right;
}

.createAccountForm {
  .general-input {
    display: flex;
    flex-direction: column;
  }

  label {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.9em;
    font-weight: 700;
    margin: 16px 0px 8px 0px;
  }
}

.taxExempt div{
	display: flex;
}

h3.ui.header {
margin-bottom: 0px;
}

.connectingAccounts {
  max-width: 570px;
}

.title-connectingAccounts {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
}

.descr-connectingAccounts {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.popup-flex {
  display: flex;
  align-items: center;

  i {
    margin: 4px 0 0 2px;
  }
}