.connect-account-modal {
	max-height: 90vh;
	display: flex;
	flex-direction: column;
	max-width: 1140px;
	width: 90vw;

	.input-container {
		max-width: 320px;
		width: 100%;
	}

	.empty-cell {
		min-height: 460px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.empty-list {
		color: var(--muted-foreground);
	}

	.title {
		font-weight: 500;
		font-size: 24px;
		color: black;
		display: block;
	}
	p.description {
		font-size: 14px;
		line-height: 20px;
		font-style: normal;
		font-weight: 500;
		color: #767676;
		margin: 0px;
	}

	.btn-selectModal {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: baseline;

		p {
			font-weight: normal;
			font-size: 16px;
			line-height: 16px;
			color: #000000;
			margin-right: 20px;

			span {
				font-weight: bold;
				margin-right: 5px;
			}
		}
	}

	.search {
		margin: 20px 0;
		width: 50%;
	}

	.container__table {
		height: 290px;
		overflow-y: auto;
	}
	.connectAccount {
	}

	.connectElements {
		td {
			font-size: 16px;
		}
	}

	.table-wrapper {
		margin: 30px 0;
		overflow: auto;
	}

	.ui.dimmer .ui.modal .ui.loader:before {
		border-color: rgba(0, 0, 0, 0.1);
	}

	.ui.dimmer .ui.modal .ui.loader:after {
		border-color: #767676 transparent transparent;
	}
}
